.toolbar {
    background: #F0F0F0;
    width:100%;
    -webkit-user-select: none;
}

.toolbar-buttons {
    padding: 5px 0 5px 0;
    border-bottom: 2px solid grey
}

.well-sm.trail-name {
    background-color: white;
    border: solid #ccc 1px;
    padding-bottom: 3px
}

.toolbar-element {
    padding-top: 5px;
    padding-bottom: 5px;
}

.fa-spinner.site-saving-spinner {
    margin-left: 10px;
    visibility: hidden;
}

.save-site-button.saving {
    cursor: not-allowed;
}

.trail-actions {
    padding-left: 0px;
}

.favicons {
    padding-top: 8px;
}

.help-frame {
    width: 100%;
}

.pager.wt-pagers {
    margin: 0 0;
}