body {
    visibility: hidden;
    background: transparent;
    overflow: hidden;
}

.toolbar {
    background: #F0F0F0;
    width:100%;
    -webkit-user-select: none;
}

.toolbar-buttons {
    padding: 5px 0 5px 0;
    border-bottom: 2px solid grey
}

.well-sm.trail-name {
    background-color: white;
    border: solid #ccc 1px;
    padding-bottom: 3px
}

.toolbar-element {
    padding-top: 5px;
    padding-bottom: 5px;
}

.fa-spinner.site-saving-spinner {
    margin-left: 10px;
    visibility: hidden;
}

.save-site-button.saving {
    cursor: not-allowed;
}

.trail-actions {
    padding-left: 0px;
}

.favicons {
    padding-top: 8px;
}

.help-frame {
    width: 100%;
}

.pager.wt-pagers {
    margin: 0 0;
}

.info-display {
    position: relative;
    height: 150px; /* make sure to sync this value with the one in TrailToolbar.js */
}

.trail-preview-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.comment-box {
    position: absolute;
    right: 0px;
    width: 150px;
    background: #F0F0F0;
    display:none;
    z-index: 2;
}

.comment-text {
    padding: 5px;
}

.login-button .logout-button {
    display: none;
}

.wt-site-preview {
    background: white;
}

/* note selector styles */

.snap {
    height:50px;
    padding: 10px;
}

.note-content-cell {
    width: 50%;
}

.note-content {
    max-height: 1.2em;
    line-height: 1.2em;
    overflow: hidden;
}

.note-comment {
    font-size: 12px;
    overflow: hidden;
    height: 34px; /* bootstrap adds 8px padding top and and bottom to the td, we need the total height to by 50px */
}

tr.buffer th {
    height:50px;
    text-align: center;
    paadding-top:15px;
}

.note-selector {
    overflow: scroll;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    -webkit-mask-image: linear-gradient(rgba(0,0,0,0) -30%, rgba(0,0,0,1), rgba(0,0,0,0) 130%);
    visibility: hidden;
    /*display: none;*/
}

.note-selector-background {
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    display: none;
}

.selected .note-content {
    font-size: 20px;
}

.note-selector-favicon {
    padding-right: 8px;
    height: 20px;
}