<script src="/bootstrap/js/bootstrap.min.js"> </script>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="/javascripts/index.js"> </script>

<div class="row-fluid">
  <div class="span4 offset4 centered" id="webtrails-title">
    <h1>WebTrails</h1>
    <div>
      Logged in as <%=@user.email%>. <a href="/users/sign_out">logout</a>
    </div>
  </div>
</div>
<div class="centered" id="create-trail-container">
  <div class="input-append centered control-group" id="trail-create-control-group">
    <input class="input-large" id="trail-name" type="text" placeholder="Trail Name">
    <button class="btn btn-primary" type="button" id="trail-create-button">Create!</button>
  </div>
</div>

<%= render :partial => "display_trails", :locals => {:trails => @trails, :favicon_urls => @favicon_urls} %>
<div class="centered">
  <h1>Some Other Public Trails</h1>
</div>
<%= render :partial => "display_trails", :locals => {:trails => @other_trails, :favicon_urls => @other_favicon_urls} %>   