<html>
<head>

</head>
<body>
  <h1>Check back later! Still saving...</h1>
  <script>

    var id = <%= params[:id]%>;
    console.log(id);

    setInterval(function() {
      console.log('checking...', id);
      $.get('/site/exists?id=' + id, function(data) {
        if (data.exists) {
          // Our page exists, and we should refresh to get the new hotness.
          document.location.reload(true);
        }
      });
    }, 5000);

  </script>
</body>
</html>