<script type="text/javascript">
  var userId = <%= current_user.id %>;
</script>

<div id="urlBox">
<input type="button" id="trailButton" value="Save site to trail">
<input type="text" id="urlText" placeholder="ex:www.wikipedia.com"/>
<input type="button" id="navigateButton" value="Go">
<% if current_user %>
  <span class="userName"><%= current_user.email %></span>
<% else %>
   <a class="userName" href="/">Login or Signup</a>
<% end %>
</div>
<iframe id="UsersPage" src="http://www.wikipedia.org" scrolling="yes">
</iframe>
<div id="trailDisplay"></div>
