.trailDisplay {
    height: 25px;
    width: 100%;
    position: fixed;
    top:0px;
    text-align: left;
    z-index: 1000;
    padding-left:10px;
    opacity: .8;
    background: #2E2E1F;
    color: white;
    line-height: 25px;
}

.noteDisplayWrapper {
    height:100%;
    width: 40%;
    float:right;
    margin-left: 3%;
    overflow: hidden
}

.previousNoteDisplay {
    margin: 0 0 0 5px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis
}

.linkToTrailWrapper{
    height:100%;
    width: 10%;
    float: right
}

.linkToTrail {
    margin: 0 0 0 5px;
    font-size: 12px;
    display: block;
    color: white;
    font-weight: bold
}

.deleteNoteButton {
    font-size: 12px;
    color: white;
    background-color: transparent;
    font-weight: bold;
    height:100%;
    width: 10%;
    float: right;
    opacity: 0
}

.saveSiteToTrailButton{
    font-size: 12px;
    color: white;
    background-color: transparent;
    font-weight: bold;
    height:100%;
    width: 10%;
    float: right
}

.shareTrailButton {
    font-size: 12px;
    color: white;
    background-color: transparent;
    font-weight: bold;
    height:100%;
    width: 10%;
    float: right;
    margin-left: 2%
}

.siteFavicon { 
padding-right: 2.5px; 
padding-top: 2.5px; 
float: left; 
overflow: hidden; 
display: block; 
}

.siteFavicon img {  
height: 20px; 
}