.trailDisplay {
    height: 25px;
    width: 100%;
    position: fixed;
    top:0px;
    text-align: left;
    z-index: 1000;
    padding-left:10px;
    opacity: .8;
    background: #2E2E1F;
    color: white;
    line-height: 25px;
}                                        