.not-whitelisted{
    margin-top: 50px;
    text-align: center;
}

.not-whitelisted-wt-title{
    font-size: 200px;
    margin-top: 270px;
}


.not-whitelisted-explanation{
    text-align: center;
    margin-top: 150px;
}