.siteDisplay {
    position: relative;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 0;
}
#urlText{
    border: none;
    font-size: 12px;
    background: #2E2E1F;
    float: left;
}

.trailDisplay .navigateButton{
    cursor: pointer;
    color: inherit;
    background: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
}

.rightNavigateButton {
    float: right;
}

.leftNavigateButton {
    float: left;
}

.trailDisplay {
    opacity: .9;
    background: #2E2E1F;
    border: none;
    font-size: 14px;
    color: white;
    width: 100%;
    line-height: 25px;
    height: 25px;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.navigateButton#nextSite{
    /*margin-right: 10%;*/
}

.navigateButton#showNoteList{
    width: 200px;
    margin: 0 25px 0 25px;
    border: none;
    border-right: none;
    border-bottom: none;
    border-top: 2px solid white;
}

.userName {
    font-size: 14px;
    text-align: right;
    position:fixed;
    right: 0;
    top: 5%;
}

#trailName, .siteFavicon {
    margin-right: 2px;
    float: left;
}

.faviconImage {
    height: 15px;
    margin-top: 5px;
}
.activeFavicon{
    margin-top: 2.5px;
    height:20px;
}

.siteFavicons{
    display:inline-block;
    position: relative;
    /*padding-left: 100px;*/
    width: 10%;
}


.notCurrent.siteDisplay{
    display:none;
}
.siteDisplayDiv {
    width: 100%;
    height: 96%
}

.highlight {
    background-color: yellow !important;
}

.checkBoxLabel{
    float:right;
    font-size: 14px;
    margin-right: 1%;
    display: block
}

.turnOffComments{
    display: block;
    height: 15px;
    margin-top: 5px;
    float: right;
    margin-right: 5px ;

}

.noteLists {
    position: fixed;
    z-index: 100;
    right:0;
    bottom:25px;
    width: 250px;
    background-color: #2E2E1F;
    opacity: .9;
}

.noteList {
    border: #c2c2c2 solid 2px;
    display: none;
}

.noteContent {
    max-height: 28px;
    line-height: 14px;
    font-size: 12px;
    color: white;
    overflow: hidden;
    margin: 4px
}

.noteWrapper {
    border-bottom: 2px solid #c2c2c2;
}

.siteTitleDisplay {
    margin-left: -999em;
    position: absolute;
}

.tooltip:hover span.siteTitleDisplay {
    /*font-family: Calibri, Tahoma, Geneva, sans-serif;*/
    position:absolute;
    bottom: 60px;
    right:15px;
    line-height: 13px;
    z-index: 9999;
    margin-left: 0;
    font-size:11px;
    background: black;
    opacity: .9;
    width:auto;
    display: inline-block;
}

