.siteDisplay {
    position: relative;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 0;
}
#urlText{
    border: none;
    font-size: 12px;
    background: #2E2E1F;
    color: #CCCCA3;
    float: left;
}

.navigateButton{
    cursor: pointer;
    background: #2E2E1F;
    color: #CCCCA3;
    height:100%;
    margin: 0;
    padding: 0;
    font-size: 32px;
    border:  2px solid #CCCCA3;
    border-top: none;
    border-bottom: none;
    border-left: solid 6px #CCCCA3;
    float: right;

}

#trailDisplay {
    opacity: 0.8;
    background: #2E2E1F;
    border: none;
    font-size: 40px;
    color: #CCCCA3;
    width: 100%;
    /*height: 3.7%;*/
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.userName {
    font-size: 14px;
    text-align: right;
    position:fixed;
    right: 0;
    top: 5%;
}

#trailName, .siteFavicon {

    margin-right: 2px;
    float: left;
}

.notCurrent.siteDisplay{
    display:none;
}
.siteDisplayDiv {
    width: 100%;
    height: 96%
}

.highlight {
    background-color: yellow !important;
}

.checkBoxLabel{
    float:right;
    font-size: 20px;
    margin-right: 5px;
}