/* SITES */

.no-trails-placeholder{
    text-align: center;
    margin-top: 20%;
}

.siteDisplay {
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.notCurrent.siteDisplay{
    display:none;
}

.siteDisplayDiv {
    width: 100%;
    height: 93%;
    overflow:hidden;
    border-bottom: 3px grey
}

.highlight {
    background-color: yellow !important;
}

/* TOOLBAR */

.viewTrailToolbar {
    background: #F0F0F0;
    border: none;
    font-size: 14px;
    color: #333;
    width: 100%;
    line-height: 25px;
    height: 7%;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.viewTrailToolbar .navigateButton{
    color: inherit;
    background: inherit;
    font: inherit;
}

.viewTrailToolbar .btn{
    margin: 0;
    padding: 5;
}

.navigateButton.showList{
    border: none;
}

.navigateButton#nextNote{
    border-color: #333;
    margin-top: 2px;
}

.navigateButton#previousNote{
    border-color: #333;
    margin-top: 2px;
}

.viewTrailToolbar .chevronButton {
    padding:0;
}

.navigateButton#removeSite {

}

.faviconContainer {
    display: inline-block;
    position:relative;
    left:0;
    top:0;
    margin-left: 5px;
}

.faviconImage {
    height: 15px;
    width:15px;
    position: relative;
    left: 0;
    right: 0;
}

.active-favicon {
    width:20px;
    height:20px;
}

.faviconLoading {
    position: absolute;
    left: 0;
    top: 6px;
}

.siteFaviconsHolder{
    display:inline-block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.siteFavicons{
    display:inline-block;
    position:relative;
    min-width:300px;
    text-align:left;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkBoxLabel{
    font-size: 14px;
    margin:auto;
    display: block
}

.turnOffComments{
    display: block;
    height: 15px;
    margin: auto;
}

#showNoteList {
    width: 20%;
    /*position: fixed;
    z-index: 100;
    bottom:5px;
    right:0px;*/
    float: right;
    margin-top:3px;
}

.noteViewer {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    /*float: right;*/
    height: 93%;
    width: 50%;
    background-color: #FAFAFA;
    border: #aaa solid 2px;
    vertical-align: top;
    /*display: inline-block;*/
    display: none;
    overflow: scroll;
}

.noteWrapper {
}

siteDisplayDiv.loading {
    background:url('/images/pacman.gif') no-repeat center;
}

iframe {
    border: 0px;
}

.siteClickDiv {
    display: block;
    z-index: 2147483647;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: transparent;
    width:100%;
    height:100%;
}

iframe.shrunk {
    -moz-transform: scale(1, 1); 
    -webkit-transform: scale(1, 1); 
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); 
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    border: 4px solid #ccc;
    border-radius: 20px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.note-count {
    padding: 0px 10px 0px 10px
}

.noteInfo {
    cursor:pointer;
    font-size: 12px;
    color: #333;
}

.noteContent {
    max-height: 2.4em;
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.noteComment {
    line-height: 1.2em;
}

.noteComment:focus {
    outline-width: 0;
}

.noteContentCell{
    width: 50%;
}

.selected-note{
    outline: 2px solid #9ecaed;
}

.noteListHeader {
    background-color: #E1E1E1;
    cursor: pointer;
}
/* overriding bootstrap default for buttons to enable toggling */

.btn.toggle.inactive {
    background: none;
    background-position: 0;
    color: inherit;
}

.btn.toggle.inactive:focus {
    background: none;
    background-position: 0;
    color: inherit;
}

.btn.toggle.inactive:hover {
    background: none;
    background-position: 0;
    color: inherit;
}

/*overriding the bootstrap default for table*/

.table.noteWrapper {
    margin:0;
    border-top: none;
}