.usersPage {
    position: relative;
    top: 0px;
    height: 98%;
    width: 100%;
    z-index: 0;
}
#urlText{
    border: none;
    font-size: 40px;
    background: #2E2E1F;
    color: #CCCCA3;
    height: 55px;
}

#navigateButton{
    cursor: pointer;
    background: #2E2E1F;
    color: #CCCCA3;
    height:60px;
    margin: 0;
    padding: 0;
    font-size: 40px;
    border:  2px solid #CCCCA3;
    border-top: none;
    border-bottom: none;
    border-left: solid 6px #CCCCA3;
    position: fixed;
    right: 0;

}

#trailDisplay {
    opacity: 0.8;
    background: #2E2E1F;
    border: none;
    font-size: 40px;
    color: #CCCCA3;
    width: 100%;
    height: 60px;
    text-align: center;
    position: fixed;
    bottom: 0;
    float:left;
    z-index: 1000;
}

.userName {
    font-size: 14px;
    text-align: right;
    position:fixed;
    right: 0;
    top: 5%;
}

#trailName, .siteFavicon {
    margin-top:5px;
    margin-right: 10px;
    float: left;
}

.hiddenSite.usersPage{
    display:none;
}