/* SITES */

.siteDisplay {
    position: relative;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.notCurrent.siteDisplay{
    display:none;
}

.siteDisplayDiv {
    width: 100%;
    height: 96%
}

.highlight {
    background-color: yellow !important;
}

/* TOOLBAR */

.viewTrailToolbar {
    background: #F0F0F0;
    border: none;
    font-size: 14px;
    color: #333;
    width: 100%;
    line-height: 25px;
    height: 35px;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.viewTrailToolbar .navigateButton{
    color: inherit;
    background: inherit;
    font: inherit;
    margin: 0;
    padding: 5;
}

.navigateButton.showList{
    border: none;
}

.navigateButton#nextNote{
    border-color: #333;
}

.navigateButton#previousNote{
    border-color: #333;
}

.viewTrailToolbar .chevronButton {
    padding:0;
}

.navigateButton#removeSite {
    
}

.faviconImage {
    height: 15px;
    width:15px;
}

.activeFavicon{
    width:20px;
    height:20px;
}

.siteFaviconsHolder{
    display:inline-block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.siteFavicons{
    display:inline-block;
    position:relative;
    min-width:300px;
    text-align:left;
}

.checkBoxLabel{
    font-size: 14px;
    margin:auto;
    display: block
}

.turnOffComments{
    display: block;
    height: 15px;
    margin: auto;
}


.noteLists {
    position: fixed;
    z-index: 100;
    right:0;
    bottom:25px;
    width: 250px;
    background-color: #2E2E1F;
    opacity: .9;
}

.noteList {
    border: #c2c2c2 solid 2px;
    display: none;
}

.noteContent {
    max-height: 28px;
    line-height: 14px;
    font-size: 12px;
    color: white;
    overflow: hidden;
    margin: 4px
}

.noteWrapper {
    border-bottom: 2px solid #c2c2c2;
}

