#create-trail-container {
    margin-top:25px;
}

.centered {
    text-align: center;
}

#trails-display {
    background-color: #f0f0f0;
    border-radius: 7px;
    margin-top: 25px;
}

.trail-container {
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-top:15px;
}

.trail-container:hover {
    background-color:yellow;
}

.last-trail-container{
    margin-bottom:15px;
}

.trail-name {
    line-height: 200%;
}

.favicon-display {
    line-height: 200%;
}
