#create-trail-container {
    margin-top:25px;
}

.centered {
    text-align: center;
}

.trails-display {
    margin-top: 25px;
}

.trail-container {
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-top:15px;
    background-color: #f0f0f0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.last-trail-container{
    margin-bottom:15px;
}

.trail-name {
}

.sites-display-container {
    white-space: nowrap;
    overflow: hidden;
}

.sites-display {
    max-height: 500px;
    /*position: relative;*/
    left: 0px;
}

.site-display {
    border: 2px solid #ccc;
    border-radius: 5px;
    min-height: 30px;
    max-height:400px;
    width: 200px;
    display: inline-block;
    margin: 10px 5px;
    vertical-align: top;
    padding: 5px;
    background-color: #e1e1e1;
    white-space: normal;
    overflow: auto;
}

.site-display:hover {
    background-color:#ddd;
}

.site-display:nth-child(2) {
    margin-left:15px;
}

.site-display:last-child {
    margin-right:15px;
}

.note-container {
    color: #333;
    max-height: 360px;
}

.note-content {
    margin-top:10px;
    overflow:hidden;
    max-height: 45px;
    background-color: #FFFF7E;
    color: #666;
}

.note-comment {
    background-color: white;
    color: black;
    max-height: 45px;
    overflow:hidden;
    border: 2px solid black;
    border-radius: 5px;
}

.remove-trail-button {
    margin-top: 15px;
}

.edit-trail-button {
    margin-top: 15px;
}