#create-trail-container {
    margin-top:25px;
}

.centered {
    text-align: center;
}

#trails-display {
    margin-top: 25px;
}

.trail-container {
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-top:15px;
    background-color: #f0f0f0;
}

.trail-container:hover {
    background-color:yellow;
}

.last-trail-container{
    margin-bottom:15px;
}

.trail-name {
}

.site-display {
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 30px;
    width: 200px;
    display: inline-block;
    margin: 10px 5px;
}
