<a href='Javascript:(function(){
var v = "1.4.1";
var script = document.createElement("script");
var myScript = document.createElement("script");

myScript.src = "http://localhost:3000/bookmarklet_js";
myScript.onload = function (){
    script.src = "http://ajax.googleapis.com/ajax/libs/jquery/" + v + "/jquery.min.js";
    script.onload = script.onreadystatechange = initMyBookmarklet;
    document.getElementsByTagName("head")[0].appendChild(script);
};
document.getElementsByTagName("head")[0].appendChild(myScript);

})();'>hiiiii</a>

</br>
</br>
</br>
</br>
</br>

<div>
    askljdsakjdlkajsd
    aksdjlsajd
    hi my name is david gaynor
    what am I doing here
    I don't belong hererererere
    :::Asdasd:as ;;as;
</div>

